@CHARSET "UTF-8";

#menu{
    margin:0 auto 0 auto;
    width: 1000px;

    
}

#menu ul{
    margin: 0; 
    padding: 0; 
    list-style: none;
}
#menu li{ 
    display: inline; 
    padding: 0; 
    margin: 0; 
    float: left;
}
#menu li a{
    display: block; 
    border-left: 1px solid #474655;
    border-top: 1px solid #474655;
    border-bottom: 1px solid #474655;
    background-color: #fff;
    padding: 3px;
    text-decoration: none;
    color: #333;
    width: 150px; 
    margin: 1px 0px;
    text-align: center;
    font-size: 20px;
}
#menu li a:hover{
    border-left: 1px solid #474655;
    border-top: 1px solid #474655;
    border-bottom: 1px solid #474655;
    background-color: #F3D898;
}
#menu #haji li a{
    display: block; 
    border: 1px solid #474655;
    background-color: #fff;
    padding: 3px 10px;;
    text-decoration: none;
    color: #333;
    width: 150px; 
    margin: 1px 0px;
    text-align: center;
    font-size: 20px;
}
#menu #haji li a:hover{
    display: block; 
    border: 1px solid #474655;
    background-color: #F3D898;
}

.body_part{
    clear: both;
	margin:0 auto 0 auto;
	width: 900px;
	height:800px;
	border: 3px black solid;

}

.body_left{
    clear: both;
    margin:20px;
	float:left;
	width: 200px;
	height:700px;
	border: 3px black solid;
	text-align:center;
}

.body_right{
    margin:20px;    
    float:right;
	width: 600px;
	height:700px;
	border: 3px black solid;
	text-align:center;
}

