.body_part{
    clear: both;
	margin:0 auto 0 auto;
	width: 900px;
	height:800px;
	border: 3px black solid;

}

.body_left{
    clear: both;
    margin:20px;
	float:left;
	width: 200px;
	height:700px;
	border: 3px black solid;
	text-align:center;
}

.body_right{
    margin:20px;    
    float:right;
	width: 600px;
	height:700px;
	border: 3px black solid;
	text-align:center;
}

